body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    display: grid;
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(3, 60px);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.button:hover {
    background-color: #0090FF;
}
.button:active {
    background-color: #0056b3;
}
.button svg {
    width: 48px;
    height: 48px;
}
.arrow {
    width: 60px;
    height: 60px;
    padding: 0px;
}
#button-up {
    grid-row: 1;
    grid-column: 2;
}
#button-left {
    grid-row: 2;
    grid-column: 1;
}
#button-right {
    grid-row: 2;
    grid-column: 3;
}
#button-down {
    grid-row: 3;
    grid-column: 2;
}
#results {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #333;
    width: 300px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

#submit-reset-container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(2, 145px);
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

#log {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 30px;
}

#code {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    border: 1px;
    border-style: solid;
    border-color: #A0A0A0;
}

@media (orientation: landscape) {
    .container {
        flex-direction: row;
        justify-content: center;
    }
    #results {
        margin-left: 20px;
        margin-top: 0;
    }
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin: 2px;
    background-color: #00007F;
    color: white;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
